#main-container {
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    background-color: blueviolet;
  }

.numBox{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-color: black;
    border-style: solid;
    border-radius: 10%;
    align-self: center;
    text-align: center;
    vertical-align: middle;
}

.container-div {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

