#main-container {
    height: auto;
    width: auto;
    
}

.numBox{
    height: 5em;
    width: 5em;
    background-color: aqua;
    border-color: black;
    border-style: solid;
    border-radius: 10%;

}

.text {
    /* display: flex; */
    text-align: center;
}